*, *:before, *:after {
  box-sizing: border-box;
}

#passphrase, #compphrase {
  align-items: center;
  display: flex;
  font-size: 3vw;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#compphrase {
  font-size: 6vw;
  height: 40vh;
  justify-content: center;
}

#passphrase.full {
  font-size: 4vw;
  height: 70vh;
  justify-content: center;
}

.pword {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: red;
  margin: 0.5vw;
  text-align: center;
}

.full .pword {
  border-bottom-width: 2px;
}

#compphrase .pword {
  border-bottom: 0;
  border-top-style: solid;
  border-top-width: 2px;
}

.pword:nth-child(2) {
  border-color: orange;
}

.pword:nth-child(3) {
  border-color: yellow;
}

.pword:nth-child(4) {
  border-color: green;
}

.pword:nth-child(5) {
  border-color: cyan;
}

.pword:nth-child(6) {
  border-color: blue;
}

.pword:nth-child(7) {
  border-color: pink;
}

.pword:nth-child(8) {
  border-color: red;
}

#foot {
  bottom: 0;
  position: absolute;
}

.strength {
  border-radius: 10px;
  background-color: lightgrey;
  padding: 2px;
  width: 350px;
}

.smeter {
  background-color: darkgrey;
  border-radius: 2px;
  height: 4px;
}

.smeter > div {
  border-radius: 2px;
  height: 100%;
  width: 0;
}

.verybad-strength {
  background-color: red;
}

.bad-strength {
  background: linear-gradient(to right, orange, gold 66%);
}

.mediocre-strength {
  background: linear-gradient(to right, gold, yellow 66%);
}

.ok-strength {
  background: linear-gradient(to right, yellow, greenyellow 66%);
}

.good-strength {
  background: linear-gradient(to right, greenyellow, chartreuse 66%);
}

.verygood-strength {
  background: linear-gradient(to right, chartreuse, lime 66%);
}
.excellent-strength {
  background: linear-gradient(to right, lime, green 66%);
}
