@import "normalize.css";

@custom-media --small-viewport (width <= 35em);

*, *:before, *:after {
  box-sizing: border-box;
}

#main {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 50px;
  left: 0;

  align-items: center;
  flex-direction: column;
  justify-content: center;

  @media(--small-viewport) {
    position: static;
  }
}

#passphrase, #password {
  list-style-type: none;
  margin: 0;
  padding: 0 2vw;
  text-align: center;
  width: 100%;
}

#passphrase {
  font-size: 4.5vw;
  margin-bottom: 0;

  @media(--small-viewport) {
    font-size: 3em;
  }

  &.zipable {
    font-size: 4vw;
    margin-bottom: 3vh;

    @media(--small-viewport) {
      font-size: 3em;
    }
  }
}

#password {
  font-size: 2.5vw;
}

.pp-word {
  display: inline-block;

  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: red;
  margin: 0.7vw;

  @media(--small-viewport) {
    display: block;
  }

  @nest .stronger &, .strongest & {
    font-size: 90%;
  }

  & .postfix {
    color: grey;
  }

  &:nth-child(2) {
    border-color: orange;
  }

  &:nth-child(3) {
    border-color: yellow;
  }

  &:nth-child(4) {
    border-color: green;
  }

  &:nth-child(5) {
    border-color: cyan;
  }

  &:nth-child(6) {
    border-color: blue;
  }

  &:nth-child(7) {
    border-color: pink;
  }

  &:nth-child(8) {
    border-color: red;
  }
}

.pw-word {
  display: inline-block;
  margin: 0.2vw;

  @media (--small-viewport) {
    font-size: 2em;
    margin: 2px;
  }
}

#foot {
  position: absolute;
  bottom: 0;
  width: 100%;

  @media(--small-viewport) {
    position: relative;
  }
}

.strength-meter {
  background-color: lightgrey;
  height: 10px;
  width: 100%;

  & > div {
    height: 100%;
    transition: all 0.5s ease-out;
    width: 0;
  }

  & .verybad-strength {
    background-color: red;
  }

  & .bad-strength {
    background: linear-gradient(to right, orange, gold 66%);
  }

  & .mediocre-strength {
    background: linear-gradient(to right, gold, yellow 66%);
  }

  & .ok-strength {
    background: linear-gradient(to right, yellow, greenyellow 66%);
  }

  & .good-strength {
    background: linear-gradient(to right, greenyellow, chartreuse 66%);
  }

  & .verygood-strength {
    background: linear-gradient(to right, chartreuse, lime 66%);
  }

  & .excellent-strength {
    background: linear-gradient(to right, lime, green 66%);
  }
}

.error {
  font-size: 20px;
  margin: auto;
  text-align: center;
  width: 80%;
}

.strengthbtn {
  position: absolute;
  bottom: 20px;

  background: lightgray;
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  opacity: 0.6;
  width: 30px;

  &.stepup {
    right: 10px;
    background-color: lime;
  }

  &.stepdown {
    left: 10px;
    background-color: gold;
  }

  &:hover {
    opacity: 1;
  }

  &:disabled {
    cursor: initial;
    opacity: 0.3;
  }

  &:focus {
    outline: 0;
  }
}

.phrase {
  text-align: center;
}

.linkbtn {
  background: transparent;
  border: 0;
  color: blue;
  cursor: pointer;
  font-family: inherit;

  &:focus {
    outline: 0;
  }
}
